@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0;
  font-weight: normal;
}

h1 {
    @apply font-Raleway font-bold text-5xl text-left text-primary-clr;
}

h2, h4 {
    @apply font-Raleway font-semibold text-xl text-left text-secondary-clr;
}

h3 {
  @apply font-Raleway font-semibold text-xl text-left text-primary-clr;
}

p {
    @apply font-Lato font-normal text-sm text-left;
}
  
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
  